
body {
    margin-bottom: 150px;
}
h1 {
    font-family: "Pirata One";
    font-size: 40px;
    display: flex;
    justify-content: center;
}
h2 {
    font-family: "Pirata One";
    font-size: 30px;
    display: flex;
    justify-content: center; 
}
h3 {
    font-family: "Pirata One";
    font-size: 20px;
    display: flex;
    justify-content: center; 
}
p {
    font-family: Lato;
    /*width: 60%;*/
    text-align: center;
    margin: 0 auto;

    line-height: 1.6;
    max-width: 85ch; /* ideal reading width */
    margin-bottom: 1.2em;
}
a:link,
a:visited {
    color: blue;
}
video {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}